<div class="col-lg-3">

    <h1 class="my-4">O'Fig</h1>

    <h5>Catégories</h5>
    <div class="list-group">
        <a class="list-group-item d-flex justify-content-between align-items-center" href="#">
            Les gentils
            <span class="badge badge-primary badge-pill">4</span>
        </a>
        <a class="list-group-item d-flex justify-content-between align-items-center" href="#">
            Les méchants
            <span class="badge badge-primary badge-pill">3</span>
        </a>
        <a class="list-group-item d-flex justify-content-between align-items-center" href="#">
            Les animaux
            <span class="badge badge-primary badge-pill">1</span>
        </a>
    </div>

</div>
<!-- /.col-lg-3 -->