<%- include('./partials/header') %>

  <!-- Page Content -->
  <div class="container container-main">

    <div class="row">

      <%- include('./partials/leftMenu') %>

      <div class="col-lg-9">

        <div class="row">

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="/article">
                <img class="card-img-top" src="./images/aerith.png" alt="">
                <div class="badge-category badge badge-pill badge-gentil">Gentil</div>
              </a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="/article">Aerith</a>
                </h4>
                <h5>$24.99</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                <a href="/bookmarks" class="link-add-bookmarks">+ Ajouter aux favoris</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="/article">
                <img class="card-img-top" src="./images/barret.png" alt="">
                <div class="badge-category badge badge-pill badge-gentil">Gentil</div>
              </a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="/article">Barret</a>
                </h4>
                <h5>$24.99</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur! Lorem ipsum dolor sit amet.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                <a href="/bookmarks" class="link-add-bookmarks">+ Ajouter aux favoris</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="/article">
                <img class="card-img-top" src="./images/cloud.png" alt="">
                <div class="badge-category badge badge-pill badge-gentil">Gentil</div>
              </a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="/article">Cloud</a>
                </h4>
                <h5>$24.99</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                <a href="/bookmarks" class="link-add-bookmarks">+ Ajouter aux favoris</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="/article">
                <img class="card-img-top" src="./images/nanaki.png" alt="">
                <div class="badge-category badge badge-pill badge-animal">Animal</div>
              </a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="/article">Nanaki</a>
                </h4>
                <h5>$24.99</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                <a href="/bookmarks" class="link-add-bookmarks">+ Ajouter aux favoris</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="/article">
                <img class="card-img-top" src="./images/sephiroth.png" alt="">
                <div class="badge-category badge badge-pill badge-mechant">Méchant</div>
              </a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="/article">Sephiroth</a>
                </h4>
                <h5>$24.99</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur! Lorem ipsum dolor sit amet.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                <a href="/bookmarks" class="link-add-bookmarks">+ Ajouter aux favoris</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="/article">
                <img class="card-img-top" src="./images/tifa.png" alt="">
                <div class="badge-category badge badge-pill badge-gentil">Gentil</div>
              </a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="/article">Tifa</a>
                </h4>
                <h5>$24.99</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                <a href="/bookmarks" class="link-add-bookmarks">+ Ajouter aux favoris</a>
              </div>
            </div>
          </div>

        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <%- include('./partials/footer') %>

