<%- include('./partials/header') %>

  <!-- Page Content -->
  <div class="container container-main">

    <div class="row">

      <%- include('./partials/leftMenu') %>

      <div class="col-lg-9">

        <div class="row">
          <div class="col-lg-6">
            <img class="" src="./images/aerith.png" alt="">
          </div>

          <div class="col-lg-6">
            <div class="card">
              <div class="card-body">
                  <h3 class="card-title">
                    Aerith
                    <div class="badge badge-pill badge-gentil">Gentil</div>
                  </h3>
                  <p class="card-text">Taille réelle : 35cm</p>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, porro sunt quis sed ut facere consequatur quidem magni pariatur repellat eius? Incidunt voluptatem porro exercitationem asperiores maiores voluptatibus necessitatibus. Nobis fuga eaque aliquam quod, voluptatem minus illo necessitatibus at placeat delectus quos distinctio natus ipsum cumque amet repellat quo quidem.</p>
                  <p class="card-text">3
                    Note moyenne : &#9733; &#9733; &#9733; &#9733; &#9734;
                    <br>
                    <a href="#" data-toggle="modal" data-target="#reviewsModal">Détails des avis</a>
                  </p>
                  <h5>$24.99</h5>
                  <p class="card-text">
                    <a href="#" class="link-add-bookmarks">+ Ajouter aux favoris</a>
                  </p>
              </div>
            </div>
          
          </div>

        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  

  <!-- Modale des avis -->
  <div class="modal fade" id="reviewsModal" tabindex="-1" role="dialog" aria-labelledby="reviewsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="reviewsModalLabel">Avis des internautes</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <section>
            <h5>Une belle figurine &nbsp; <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small></h5>
            <p class="review-author">par Jean-Claude Dus</p>
            <p>La finition est bien, le rose est vraiment rose. Seul bémol, le livreur a abimé la main droite.</p>
          </section>

          <hr>

          <section>
            <h5>Bof Bof... &nbsp; <small class="text-muted">&#9733; &#9733; &#9734; &#9734; &#9734;</small></h5>
            <p class="review-author">par Thérèse de Monsou</p>
            <p>La figurine ne tient pas debout seule. Certains détails sont mal finis, comme les bracelets.</p>
          </section>

          <hr>

          <section>
            <h5>Juste parfait &nbsp; <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9733;</small></h5>
            <p class="review-author">par Monsieur Preskovitch</p>
            <p>C'est tellement parfait, on dirait que c'est roulé à la main sous les aisselles.</p>
          </section>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>

  <%- include('./partials/footer') %>
  
