<%- include('./partials/header') %>

  <!-- Page Content -->
  <div class="container container-main">

      <div class="row">
        <div class="col">
          <h3 class="text-center">Votre liste de préférences</h3>

          <table class="table">
            <thead>
              <th>Article</th>
              <th>Prix HT</th>
              <th></th>
            </thead>
            <tbody>
              <tr>
                <td>
                  <img class="img-thumbnail img-cart-list" src="./images/tifa.png" alt="">
                  <div class="item-description">
                      <h5 class="item-title">Tifa</h5>
                  </div>
                </td>

                <td>
                  <p class="item-subtotal">$24.99</p>
                </td>

                <td>
                  <a href="#">Enlever de la liste</a>
                </td>
              </tr>

              <tr>
                <td>
                  <img class="img-thumbnail img-cart-list" src="./images/cloud.png" alt="">
                  <div class="item-description">
                      <h5 class="item-title">Cloud</h5>
                  </div>
                </td>

                <td>
                  <p class="item-subtotal">$49.98</p>
                </td>

                <td>
                  <a href="#">Enlever de la liste</a>
                </td>
              </tr>

          </table>

          <div class="row">
            <div class="col text-right">
                <a class="btn btn-success" href="/">
                  Retour à l'accueil
                </a>
            </div>
          </div>

        </div>
      </div>
  </div>


  <%- include('./partials/footer') %>
  
